# Assignment Week 3 (Part 1)

In [1]:
import numpy as np
import pandas as pd

## 1. Create the dataframe

### Download data

The data is stored in the df variable

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
print('Data downloaded!')

Data downloaded!

Save the data in a pandas DataFrame

In [3]:
columns_name = ['Postcode', 'Borough','Neighborhood']
df_data = pd.DataFrame(columns = columns_name)
df_data= df[0]
df_data.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Replace "Not assigned" strings values with numpy NaN values and get the first five rows

In [4]:
df_data['Borough'].replace({'Not assigned': np.nan}, inplace = True)
df_data.head()

  Postcode           Borough      Neighborhood
0      M1A               NaN      Not assigned
1      M2A               NaN      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Drop the NaN values

In [5]:
df_data.dropna(inplace = True)

Combined rows into one row in the "Neighborhood" column, separated with a comma

In [6]:
df_data_2 = df_data.groupby("Postcode").agg(lambda x:','.join(set(x)))

Assign the borough values to the neighborhood where a cell has a borough but a Not assigned neighborhood and get the first five values with pd.head()

In [7]:
df_data_2.loc[df_data_2['Neighborhood']=="Not assigned",'Neighborhood']=df_data_2.loc[df_data_2['Neighborhood']=="Not assigned",'Borough']
df_data_2.head()

              Borough                          Neighborhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Port Union,Rouge Hill,Highland Creek
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

Use pd.shape method

In [8]:
df_data_2.shape

(103, 2)